@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/*desktop version*/

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0210DC, 0 0 20px #0210DC, 0 0 25px #0210DC, 0 0 30px #0210DC, 0 0 35px #0210DC;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #0210DC, 0 0 20px #0210DC, 0 0 25px #0210DC, 0 0 30px #0210DC, 0 0 35px #0210DC, 0 0 40px #0210DC;
    }
}


* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: "Open Sans";
    width: 90%;
    margin: 40px auto;
}

.home_header{
    display: grid;
    column-gap: 4%;
    grid-template-columns: 30% 15% 33% 15%;
    grid-template-rows: 400px;
}

.photo_hands{
    height: 65%;
}

.name, .title, .nature_title, .app_title{
    font-weight: 600;
    color: white;
}

.name, .title, .nature_title{
    font-size: 100px;
}

.description, .app_description{
    color: #F6F4ED;
    font-weight: 300;
}

.description{
    margin-top: 150px;
    font-size: 20px;
}

.navigation, a:link, a:visited {
    text-decoration: none;
    color: #F6F4ED;
}

.menu{
    width: 40px;
    height: 10px;
    font-size: 17px;
    transform: rotate(-90deg);
    font-weight: 300;
    padding: 20px 0px 100px 100px;
    margin-top: 80px;
    margin-left: 40px;
}

.photo_me{
    width: 100%;
    height: 590px;
}

.M_photos_block{
    display: none;
}

.photos_block1{
    display: grid;
    column-gap: 1%;
    grid-template-columns: 38% 25% 35%;
    grid-template-rows: 670px;
    margin-bottom: 1%;
}

.second_img{
    padding-top: 3%;
}

.photos_block2{
    display: grid;
    column-gap: 1%;
    grid-template-columns: 25% 28% 45%;
    grid-template-rows: 570px;
    margin-bottom: 180px;
}

.category_block{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 320px;
    margin-bottom: 40px;
}

.category_block2{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 320px;
    margin-bottom: 40px;
}

.appointment_block{
    margin-top: 200px;
    font-size: 105px;
    font-weight: 600;
}

.description_2{
    color: #F6F4ED;
    font-size: 19px;
    font-weight: 100;
    width: 20%;
    height: 100px;
    margin-top: 50px;
    margin-left: 20%;
}

.appointment{
    color: #0210DC;
    text-align: right;
    margin-top: -150px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    margin-bottom: 300px;
}

footer{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 200px;
}

.poshta{
    font-size: 65px;
    font-weight: 600;
    margin-top: 25px;
}

.links{
    text-align: center;
    font-size: 50px;
    margin-top: -30px;
}

/*People page*/

.Mpeople_hd_small{
    display: none;
}

.description_people{
    color: #F6F4ED;
    font-weight: 300;
    font-size: 20px;
    margin-top: 150px;
    width: 100%;
}

header{
    display: grid;
    grid-template-columns: 38% 15% 27% 12%;
    grid-template-rows: 615px;
    column-gap: 4%;
    margin-bottom: 170px;
}

.small_hd_img{
    margin-top: 115px;
    text-align: right;
}

.title{
    text-align: right;
}

nav{
    text-decoration: none;
    color: #F6F4ED;
    margin-top: 25px;
}

.M_photos_block_1{
    display: none;
}

.people_photo_block1{
    display: grid;
    grid-template-columns: 60% 37%;
    column-gap: 3%;
}

.people_photos_ls{
    display: grid;
    grid-template-columns: 60% 39%;
    grid-template-rows: 335px 335px;
    column-gap: 3%;
    row-gap: 3%;
}

.people_photos_ls div{
    display: flex;
}

#left_img{
    margin-left: -90%;
}

#right_img{
    margin-left: 7%;
}

.story_block{
    display: grid;
    grid-template-columns: 33% 55%;
    grid-template-rows: 620px;
    column-gap: 5%;
    margin-top: 80px;
    color: #F6F4ED;
    font-size: 19px;
    font-weight: 100;
}

.story_block p{
    text-align: left;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
}

.nature_photo_block1{
    display: grid;
    grid-template-columns: 37% 60%;
    column-gap: 1.7%;
}

/*Nature page*/
.description_nature{
    color: #F6F4ED;
    font-weight: 300;
    font-size: 20px;
    margin-top: 170px;
}

.nature_header{
    display: grid;
    grid-template-columns: 27% 17% 33% 10%;
    grid-template-rows: 615px;
    column-gap: 5%;
    margin-bottom: 170px;
}

.Mnature_hd_small{
    display: none;
}

/*Appoinment page*/
.app_header{
    display: block;
}

.app_title{
    font-size: 85px;
    width: 95%;
    margin-left: auto;
}

.app_description{
    width: 50%;
    margin-left: auto;
    font-size: 25px;
    margin-bottom: 150px;
}

/*mobile version*/

@media only screen and (max-width: 480px) {
    /*Home page*/

    /*header block*/

    .home_header{
        display: flex;
        flex-direction: column;
    }

    .navigation{
        order: 1;
        width: 100%;
        margin: 0px;
        display: flex;
        font-size: 10px;
    }

    .menu{
        width: auto;
        height: auto;
        font-size: 10px;
        transform: rotate(0deg);
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0px 0px 0px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .menu a{
        padding: 0px 30px 0px;
    }
    
    .photo_me{
        order: 2;
        margin-left: 40%;
        padding-top: 30px;
        width: 60%;
        height: 100%;
    }

    .name{
        order: 3;
        font-size: 65px;
        text-align: center;
        margin-top: -50px;
    }

    .description{
        order: 4;
        font-size: 13px;
        margin-top: 0px;
        width: 55%;
        margin-left: 45%;
    }

    .photo_hands{
        order: 5;
        width: 90%;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    
    /*main block*/
    .photos_block1{
        display: none;
    }
    
    .photos_block2{
        display: none;
    }

    .M_photos_block {
        display: block;
        float: left;
        width: 44%;
        margin: 60px 3% 60px;
    }

    .M_photos_block img{
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    .categories{
        clear: both;
    }

    .category_block{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 80px;
        margin-bottom: 10px;
    }
    
    .category_block2{
        display: grid;
        grid-template-rows: 80px;
        margin-bottom: 10px;
    }
    
    .appointment_block{
        margin-top: 50px;
        font-size: 34px;
        clear: both;
    }
    
    .description_2{
        font-size: 13px;
        width: 65%;
        margin-top: 10px;
        margin-left: 15%;
    }
    
    .appointment{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    /*footer block*/

    footer{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 80px;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    
    .poshta{
        font-size: 18px;
        margin-top: 25px;
        font-weight: 500;
    }
    
    .links{
        text-align: center;
        font-size: 13px;
        margin-top: 10px;
    }

    /*People, Nature, Urban pages*/
    header{
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    nav{
        order: 1;
        margin-top: 0px;
        display: flex;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }   

    header img{
        order: 2;
        margin-left: auto;
        width: 70%;
        margin-top: 30px;
    }

    .two_objs{
        order: 3;
    }

    .title{
        font-size: 70px;
        text-align: left;
        margin-top: -48px;
    }

    .description_people{
        order: 4;
        font-size: 17px;
        margin-top: 15px;
        width: 70%;
        margin-left: 30%;
        margin-bottom: -15px;
    }

    .small_hd_img{
        display: none;
    }

    .Mpeople_hd_small{
        display: block;
        order: 4;
        width: 94%;
        margin: auto;
        margin-bottom: 10px;
    }
    
    .people_photo_block1{
        display: none;
    }

    .M_photos_block{
        display: block;
        float: left;
        width: 44%;
        margin: 40px 3% 35px;
    }

    .M_photos_block img{
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    .story_block{
        width: 94%;
        margin: auto;
        display: grid;
        grid-template-columns: 47% 47%;
        grid-template-rows: auto;
        column-gap: 7%;
        margin-top: 0px;
        font-size: 12.5px;
    }
    
    .story_block p{
        width: 100%;
    }

    /*Nature page*/
    .nature_header{
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .nature_hd_big{
        order: 2;
        margin-right: auto;
        width: 100%;
        margin-top: 30px;
    }

    .nature_title{
        text-align: center;
        font-size: 70px;
        margin-top: -48px;
    }
    
    .description_nature{
        order: 4;
        font-size: 17px;
        margin-top: 15px;
        width: 70%;
        margin-right: 30%;
        margin-bottom: -15px;
    }

    .Mnature_hd_small{
        display: block;
        order: 5;
        width: 94%;
        margin-top: -27px;
        text-align: right;
        z-index: -1;
    }

    .nature_photo_block1{
        display: none;
    }
}