@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/*desktop version*/

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0210DC, 0 0 20px #0210DC, 0 0 25px #0210DC, 0 0 30px #0210DC, 0 0 35px #0210DC;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #0210DC, 0 0 20px #0210DC, 0 0 25px #0210DC, 0 0 30px #0210DC, 0 0 35px #0210DC, 0 0 40px #0210DC;
    }
}


* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: "Open Sans";
    width: 90%;
    margin: 40px auto;
}

.home_header{
    display: grid;
    column-gap: 4%;
    grid-template-columns: 30% 15% 33% 15%;
    grid-template-rows: 400px 400px;
}

.photo_hands{
    height: 65%;
}

.title{
    font-size: 100px;
    font-weight: 600;
    color: white;
}

.description{
    color: #F6F4ED;
    font-size: 20px;
    font-weight: 300;
    margin-top: 150px;
}

.navigation, a:link, a:visited {
    text-decoration: none;
    color: #F6F4ED;
}

.menu{
    width: 40px;
    height: 10px;
    font-size: 17px;
    transform: rotate(-90deg);
    font-weight: 300;
    padding: 20px 0px 100px 100px;
    margin-top: 80px;
    margin-left: 40px;
}

.photo_me{
    width: 100%;
    height: 590px;
}

.photos_block1{
    display: grid;
    column-gap: 1%;
    grid-template-columns: 38% 25% 35%;
    grid-template-rows: 670px;
    margin-bottom: 1%;
}

.second_img{
    padding-top: 3%;
}

.photos_block2{
    display: grid;
    column-gap: 1%;
    grid-template-columns: 25% 28% 45%;
    grid-template-rows: 570px;
    margin-bottom: 180px;
}

.category_block{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
}

.category_left{
    margin-top: 320px;
    transform: rotate(270deg);
    transform-origin: top left;
    text-align: center;
    font-size: 105px;
    font-weight: 600;
}

.category_right{
    margin-top: 665px;
    transform: rotate(90deg);
    transform-origin: top right;
    text-align: center;
    font-size: 105px;
    font-weight: 600;
}

.appointment_block{
    margin-top: 200px;
    font-size: 105px;
    font-weight: 600;
}

.description_2{
    color: #F6F4ED;
    font-size: 19px;
    font-weight: 100;
    width: 20%;
    height: 100px;
    margin-top: 50px;
    margin-left: 20%;
}

.appointment{
    color: #0210DC;
    text-align: right;
    margin-top: -150px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

footer{
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: 300px;
    margin-bottom: 70px;
}

.poshta{
    font-size: 65px;
    font-weight: 600;
    margin-top: 25px;
}

.links{
    text-align: center;
    font-size: 50px;
}

/*People page*/

people_header{
    display: grid;
    grid-template-columns: 40% 15% 27% 3%;
    column-gap: 5%;
    margin-bottom: 170px;
}

.small_hd_img{
    margin-top: 100px;
}

nav{
    text-decoration: none;
    color: #F6F4ED;
    margin-top: 160px;
}

.people_photo_block1{
    display: grid;
    grid-template-columns: 60% 37%;
    column-gap: 3%;
}

.people_photos_ls{
    display: grid;
    grid-template-columns: 60% 39%;
    grid-template-rows: 335px 335px;
    column-gap: 3%;
    row-gap: 3%;
}

.people_photos_ls div{
    display: flex;
}

#left_img{
    margin-left: -90%;
}

#right_img{
    margin-left: 7%;
}

.story_block{
    display: grid;
    grid-template-columns: 40% 55%;
    column-gap: 5%;
    margin-top: 80px;
    color: #F6F4ED;
    font-size: 19px;
    font-weight: 100;
}

.story_block p{
    text-align: center;
    width: 40%;
    margin-top: 30%;
}

.nature_photo_block1{
    display: grid;
    grid-template-columns: 37% 60%;
    column-gap: 1.7%;
}

/*mobile version*/

@media only screen and (max-width: 480px) {

    body{
        width: 90%;
    }
    
    /*header block*/

    .home_header{
        display: flex;
        flex-direction: column;
    }

    .navigation{
        order: 1;
        width: 100%;
        margin-top: 0px;
        display: flex;
        font-size: 10px;
    }

    .menu{
        width: auto;
        height: auto;
        font-size: 10px;
        transform: rotate(0deg);
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0px 0px 0px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .menu a{
        padding: 0px 30px 0px;
    }
    
    .photo_me{
        order: 2;
        margin-left: 40%;
        padding-top: 30px;
        width: 60%;
        height: 100%;
    }

    .title{
        order: 3;
        font-size: 65px;
        text-align: center;
        margin-top: -50px;
    }

    .description{
        order: 4;
        font-size: 12px;
        margin-top: 0px;
        width: 45%;
        margin-left: 55%;
    }

    .photo_hands{
        order: 5;
        width: 75%;
        margin-bottom: 70px;
    }
    
    /*main block*/
    .photos_block1{
        display: none;
    }
    
    .photos_block2{
        display: none;
    }

    .M_photos_blocks {
    }

    .M_photos_block {
        float: left;
        width: 48%;
        margin-right: 1%;
        margin-left: 1%;
        margin-bottom: 100px;
    }
    
    .category_block{
        display: grid;
        grid-template-columns: 25% 75%;
        width: 100%;
        height: 300px;
        margin-bottom: 40px;
    }
    
    .category_left{
        margin-top: 320px;
        transform: rotate(270deg);
        transform-origin: top left;
        text-align: center;
        font-size: 105px;
        font-weight: 600;
    }
    
    .category_right{
        margin-top: 665px;
        transform: rotate(90deg);
        transform-origin: top right;
        text-align: center;
        font-size: 105px;
        font-weight: 600;
    }
    
    .appointment_block{
        margin-top: 200px;
        font-size: 105px;
        font-weight: 600;
    }
    
    .description_2{
        color: #F6F4ED;
        font-size: 19px;
        font-weight: 100;
        width: 20%;
        height: 100px;
        margin-top: 50px;
        margin-left: 20%;
    }
    
    .appointment{
        color: #0210DC;
        text-align: right;
        margin-top: -150px;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }
    /*footer block*/

    footer{
        display: none;
    }
}