body{
    background-color: black;
    font-family: Open Sans;
    color: white;
    width: 90%;
    margin: 40px auto;
}

header{
    display: grid;
    column-gap: 4%;
    grid-template-columns: 30% 15% 33% 15%;
    grid-template-rows: 400px 400px;
}

.name{
    font-size: 100px;
    font-weight: 600;
}

.description{
    color: #F6F4ED;
    font-size: 18px;
    font-weight: 100;
    margin-top: 170px;
}

.navigation, a:link, a:visited {
    text-decoration: none;
    color: #F6F4ED;
    margin-top: 110px;
}

.menu{
    transform: rotate(-90deg);
    margin-bottom: 150px;
}

.photos_block{
    display: grid;
    column-gap: 13px;
    grid-template-columns: 39.3% 23.5% 30%;
    grid-template-rows: 780px 780px;
}

.two_pics img + img{
    margin-top: 12px;
}